# Ignore artifacts:
build
coverage
node_modules
dist
# Ignore all log files and temp files:
*.log
*.tmp
# Ignore all files in the temp directory:
temp
# Ignore all files in the cache directory:
.cache
# Ignore all files in the public directory:
public
# Ignore all files in the .vscode directory:
.vscode
# Ignore all files in the .idea directory:
.idea
# Ignore all files in the .DS_Store directory:
.DS_Store
# Ignore all files in the .git directory:
.git
# Ignore all files in the .github directory:
.github
